.privacy-main{
    display:flex;
    flex-direction: column;
    background-color:#e5e8b6;
    padding:10%;
    
}
.privacy-main h1{
    font-size: xx-large;
    font-weight: 700;
    padding-left:40%;
}
.privacy-main__paragraph{
    line-height: 1.5;
    letter-spacing: 1px;
    font-size: large;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 500;

}
